---
 const personalImageAlt = "Esteban"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    <strong>Full Stack Developer</strong> con un amplio conjunto de habilidades técnicas, que incluyen: <strong>C/C#, HTML/CSS, Git, SQL, Java, Python, JavaScript, Next.js, PHP, Angular, Astro 5</strong>, <strong>React </strong>... Me especializo en el desarrollo de aplicaciones <strong>eficientes, escalables</strong> y optimizadas para mejorar tanto la funcionalidad como la <strong>experiencia de usuario</strong>.
  </p>
  
  <p>
    Con experiencia en el desarrollo de <strong>proyectos completos</strong>, desde la creación de <strong>interfaces interactivas</strong> hasta la implementación de <strong>backends robustos</strong>, siempre busco adoptar las <strong>mejores prácticas</strong> de programación y mantenerme actualizado con las <strong>últimas tecnologías</strong> del sector.
  </p>
  
  <p>
    Actualmente, me estoy <strong>especializando en Inteligencia Artificial (IA)</strong> para aplicar técnicas avanzadas que potencien la automatización de procesos y la eficiencia en proyectos de desarrollo. Me apasiona aportar <strong>soluciones innovadoras</strong>, fomentar la <strong>colaboración</strong> dentro de los equipos de desarrollo y seguir evolucionando como profesional para contribuir al éxito de los proyectos tecnológicos en los que participo.
  </p>
  
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>